<a href="https://colab.research.google.com/github/mgarrett1955/ATLS-2200-2/blob/main/Python_Learning_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#variable _name = some_object

In [29]:
a = 1 #an integer, whole numbers

In [30]:
a1 = a #a copy of an exsting integer

In [31]:
a = 1.2 #Changes a to a float!!

In [32]:
b = 1. #a floting point number (fractional)

In [33]:
s = 'this is a string' #a list of number that represent characters, a string

In [34]:
c = (123,2.,'This is a string, inside of a tuple') #a tuple, a container of values that can not be changed (imutable)

In [35]:
c1 = ('Nathan Garrett','1955 Techny Rd Suite 1 Northbrook Illinois', 24) #Name Address Age Tuple

In [36]:
d = [1,2,3,4] #a list of objects, in this case a list of integers

In [37]:
e = [1,2,'string inside of a list'] # list of objects that contains different types (can be changed, mutable)

In [38]:
f = { 'name' : 'Nathan', 2 : 300, } #a dictionary of key -> value pairs, can be changed

In [39]:
def add(x,y): # a very simple function that takes two objects tries to add them and returns the sum
  return x + y

In [40]:
result = add(100,200) #calling the function with 2 integers, call the function and assign the result to a variable named result

In [41]:
result #jupyter  will sho the current value of this variable

300

In [42]:
import numpy as np

In [43]:
numerical_array = np.array([1,2,3,4,5,6,7,1,2,3,4,5,6,7]) #numpy uses nimercial arrays of anny dimention, of the same type, this looks like a list, but is not

In [44]:
#control flow

In [45]:
a1 = 100
a2 = 10
a3 = 2

In [46]:
if(a1 < a2):
    print('a1 less than a2')
else:
    print('a1 greater than a2')

a1 greater than a2

In [48]:
if((a1 > a2) and (a1 < a3)):
    print('Blam')
else:
    print('Zero')

Zero